body{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
main{
    background: url("img/bg.jpg") no-repeat center center fixed;
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; 
    background-size: cover; /* Resize the background image to cover the entire container */
}
.registation-card{
    min-width: 450px;
    border-radius: 20px;
    background: rgb(131,203,178);
    background: linear-gradient(90deg, rgba(131,203,178,1) 1%, rgba(34,138,135,1) 39%, rgba(59,100,115,1) 100%);
}